*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
body{
    background-color: rgb(150, 228, 191);
}
h1{
    text-transform: uppercase; /* всі великі букви */
    color:red;
    padding: 10px;
    border: 1px solid blue;
}
main{
    margin: 0;
    padding:0;
    display:block;
    margin:auto;
    text-align: center;
    display: inline;
    display: flex;
    display: grid;
    
}
img{
    display:block;
}
.container {
    font-size: 40px;
    min-height: 300px;
    width: 100%;
    background: LightGray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
      "header header header"
      "advert content content"
      "footer footer footer";
  }